*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}
.conteudo{
    background-image: linear-gradient(48deg, rgb(0, 255, 242), rgb(34, 10, 143)    );
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculadora {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

table td {
    display: inline-block;
 }

.btn {
    cursor: pointer;
    margin: 3px;
    width: 50px;
    height: 40px;
    border: none;
    font-size: 20px;
    padding: 10px;
    background-color: #0c1a21;
    color: #dfdfdf;
    transition: all 500ms ease-in-out;
}

.btn:hover{
    background-color: #162f3b;
}

.ac {
    background-color: rgba(23, 151, 113, 0.897);
}
.ac:hover {
    background-color: rgba(11, 104, 81, 0.849);
}
.igual {
    background-color: rgba(23, 151, 113, 0.897);
}
.igual:hover {
    background-color: rgba(11, 104, 81, 0.849);
}

.result{
    height: 100px;
    color: #dfdfdf;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;  
    border-bottom: 1px solid #25968a;
}